<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

    <!-- Session configuration -->
    <session-config>
        <session-timeout>5</session-timeout>

        <cookie-config>
            <http-only>true</http-only>
            <max-age>-1</max-age> <!-- 20 minutes the measure unit is seconds -->
        </cookie-config>
        <!--        <cookie-config>-->
        <!--            <http-only>true</http-only>-->
        <!--            <max-age>-1</max-age> &lt;!&ndash; 20 minutes the measure unit is seconds &ndash;&gt;-->
        <!--        </cookie-config>-->
        <!--        <tracking-mode>COOKIE</tracking-mode> &lt;!&ndash; This disables URL rewriting. &ndash;&gt;-->
    </session-config>
    <!-- XML is still typical for third party framework configuration -->
<!--    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>-->


    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

</web-app>
